<%= form_with(model: devlog) do |form| %>
  <% if devlog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(devlog.errors.count, "error") %> prohibited this devlog from being saved:</h2>

      <ul>
        <% devlog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :devlogs, style: "display: block" %>
    <%= form.text_field :devlogs %>
  </div>

  <div>
    <%= form.label :deviceid, style: "display: block" %>
    <%= form.number_field :deviceid %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_field :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
