
<!DOCTYPE html>
<html>
  <head>
    <title>TempSensor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head> 
  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <table border=1 width=100% height="1000px" >
  <tr>
    <td width="200px" height="200px">
    <header>
        <ul class="form-label">
        </li>
          <li>
          <%= link_to "Home", "/" %>
          </li>
          <li>
          <%= link_to "User Accounts", "/accounts" %>
          </li>
          <li>
          <%= link_to "Dispositivos", "/dispositivos" %>
          </li>
          <li>
          <%= link_to "Devices Loga", "/devlogs" %>
          </li>
          <li>
          <%= link_to "New User", "new_user_session_path" %>
          </li>
          <li>
          <%= button_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
      </div>
      </td>
      <td></td>
      <td width="150px">
      <% if user_signed_in? %>
      
      signed as: 
      <%= current_user.email %>

      
      <%= button_to "Log out", destroy_user_session_path, method: :delete %> 
      <% else %>
        NOLOGUEADO
        <%= button_to "Log In", new_user_session_path  , method: :post %>
      <% end %>
      </td> 
    </tr>
    </header>
    <tr>
    <td></td>
      <td>
        <%= yield %>
      </td>
      <td></td>
    </tr>
  </table>
  </body>
</html>
