<div id="<%= dom_id account %>">
  <p>
    <strong>Users:</strong>
    <%= account.users %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= account.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= account.apellido %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= account.mail %>
  </p>

  <p>
    <strong>Deviceid:</strong>
    <%= account.deviceid %>
  </p>

</div>
