<div id="<%= dom_id dispositivo %>">
  <p>
    <strong>Devices:</strong>
    <%= dispositivo.devices %>
  </p>

  <p>
    <strong>Identificador:</strong>
    <%= dispositivo.identificador %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= dispositivo.mail %>
  </p>

  <p>
    <strong>Prioridad:</strong>
    <%= dispositivo.prioridad %>
  </p>

</div>
