<p style="color: green"><%= notice %></p>
<center>
<h1>Dispositivos</h1>

<table class="be-blue">
  <tr>
      <td>ID</td>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Mail</td>
      <td>Devices</td>
    </tr>
  <% @dispositivos.each do |dispositivo| %>
   <tr>
      <td><%= dispositivo.id %></td>
      <td><%= dispositivo.identificador %></td>
      <td><%= dispositivo.mail %></td>
      <td><%= dispositivo.devices %></td>
      <td><%= link_to "Show this devlog", dispositivo %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "New dispositivo", new_dispositivo_path %>
</center>


